@import "layout/nav";
@import "layout/about";
@import "layout/contact";
@import "layout/work";


:root{
    --color-1:  #ff3045;
    --color-dark:  #292929;
}

html,body{
    height: 100%;
    box-sizing: border-box;
    

}

body{
    overflow-x: hidden;
}

// media queries

